.hyperxtop{
    overflow: hidden;
    z-index: 1;
    height: 100%;
    position: relative;
}
.hyperxtop>img {
    width: 100%;
    position: relative;
    z-index: 0;

}
/* overlay shadow image */
.overlay{
    position: absolute;
    margin-top: -5px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(44, 44, 44, 0.5);
    z-index: 1;
}
.section_1>div>img {
    width: 100%;
}

.section_right {
    width: 65%;
}

.section_left {
    width: 30%;
    display: flex;
    justify-content: center;
}

.section_1 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.item1 {
    height: 40px;
    background-color: #B6132C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item > li {
    height: 40px;
    display: flex;
    border-bottom: solid 1px grey;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.section_left>div>ul {
    border: solid 1px grey;
    box-shadow: 10px 10px 30px 1px black;
    width: 300px;
}

/* slider */
.container_slide{
    width: 100%;
}
.item_slide{
    width: 100%;
    overflow: hidden;
    
}
.slide{
    display: flex;
}
.slide > img {
    width: 100%;
}

@media (max-width:1000px){
    .section_left {
        display: none;
    }
    .section_right {
        width: 90%;
    }
    
}
