.m{
    margin-top: 70px;
}
.box {
    width: 330px;
    margin: 0 10px 0;
    box-shadow: 0 0 10px 0;
    margin-top:20px ;
    padding: 20px;
    
}
.box > li > a > img {
    width: 100%;
}
.box_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
@media(max-width:400px){
    .box{
        width: 250px;
    }
}